@use "@mixin" as mixin;

.container {
  display: grid;
  gap: 5px;

  &Title {
    font-size: 20px;
    color: var(--text);
    font-weight: 600;
  }

  &Change {
    cursor: pointer;
    font-size: 16px;
    color: var(--attention);
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgb(0,0,0,0.2);
  align-items: center;
  justify-content: center;

  &Body {
    box-shadow: inset 0px 0px 50px -20px var(--box-shadow);
    background: var(--cards);
    border: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    border-radius: 20px;
    width: 400px;
    height: auto;
    height: auto;
    padding: 50px 20px;

    &Title {
      font-size: 24px;
      font-weight: 600;
      color: var(--text);
    }

    @include mixin.mobile {
      width: 350px;
    }
  }
}