.container {
  display: grid;
  gap: 5px;

  &Title {
    font-size: 20px;
    color: var(--text);
    font-weight: 600;
  }

  &Change {
    cursor: pointer;
    font-size: 16px;
    color: var(--attention);
  }
}
