.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  align-items: flex-end;

  &Error {
    width: 100%;
    position: absolute;
    top: -30px;
    left: 0px;
    max-width: 320px;
    color: var(--danger);
    font-size: 13px;
    line-height: 18px;
  }
}
