@use "@mixin" as mixin;

.container {
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: transparent;
  gap: 20px;
  padding: 5%;

  @include mixin.mobile {
    flex-direction: column;
    padding: 5%;
  }

  &Filters {
    width: 20%;
    height: 100%;

    @include mixin.mobile {
      width: 100%;
      height: auto;
    }
  }

  &Body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--cards);
    width: 100%;
    border: 1px solid var(--border);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid (--border);

    &Items {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      gap: 20px;
    }
  }
}
