@use "@mixin" as mixin;

.container {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  padding: 5%;
  gap: 20px;
  overflow: hidden;

  @include mixin.mobile {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  &Create {
    @include mixin.mobile {
      padding-bottom: 300px;
    }
    width: 100%;
  }

  &Cards {
    width: 30%;
    @include mixin.mobile {
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  }
}
