.page {
  background-color: #14141A;
  width: 100%;
}

.buttons-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 50px;
  padding-right: 4%;
  padding-left: 0;
  box-sizing: border-box;
  position: relative;
}

.buttons-group {
  display: flex;
  gap: 3%;
  margin-left: 51%;
  margin-right: 19%;
}

.login-button {
  height: 40px;
  width: 7%;
  margin-left: 5%;
  margin-right: 4%;
  border: none;
  border-radius: 20px;
  background-color: #2a2a2a;
  color: #999;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}