@use "@mixin" as mixin;

.container {
  box-shadow: inset 0px 0px 50px -20px var(--box-shadow);
  background: var(--cards);
  border: 1px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  border-radius: 20px;
  width: 400px;
  height: auto;
  height: auto;
  padding: 50px 20px;

  @include mixin.mobile {
    width: 350px;
  }

  &Titles {
    display: grid;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    color: #fff;

    &Sub {
      font-size: 20px;
      font-weight: 400;
      color: var(--subtext);
    }
  }

  &Inputs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  &Footer {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &Text {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--subtext);
      font-size: 18px;

      &Link {
        color: var(--attention);
        cursor: pointer;
      }
    }
  }
}
