@use "@mixin" as mixin;

.containerOuter {
  width: 100%;
  padding: 5%;
  box-sizing: border-box;

  &Header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 14px;
  }
}

.container {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 20px;

  @include mixin.mobile {
    flex-direction: column;
  }

  &Filters {
    width: 20%;

    @include mixin.mobile {
      width: 100%;
    }
  }

  &Cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 10px;
    background-color: var(--cards);
    overflow-y: auto;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--border);

    &Error {
      font-size: 14px;
      color: var(--danger);
    }
  }
}
