.container {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 10px;

  &Header {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 20px;

    &Image {
      width: 40px;
      height: 40px;
      border-radius: 999;
      object-fit: contain;
      cursor: pointer;
    }

    &Text {
      color: var(--subtext);
      font-size: 14px;
      display: grid;
      font-weight: 600;

      &Name {
        color: var(--subtext);
        font-size: 16px;
        font-weight: 700;
      }
    }
  }

  &Text {
    font-size: 20px;
    color: var(--text);
  }
}
