@use "@mixin" as mixin;

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid var(--border);
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;

  &Header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 8px;

    &Title {
      font-size: 14px;
      font-weight: 600;
      color: var(--text);
    }

    &Hint {
      font-size: 14px;
      opacity: 0.7;
      text-align: center;
      width: 100%;
      color: var(--subtext);
    }
  }

  &Body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;

    &List {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 8px;
    }

    &Item {
      position: relative;
      touch-action: none;
      padding: 10px 10px;
      border-radius: 8px;
      border: 1px solid var(--border);
      background-color: var(--cards);
      cursor: grab;
      text-align: left;
      outline: none;
      display: flex;
      flex-direction: column;
      gap: 4px;
      width: 100%;
      flex: 0 0 auto;
      transition: 0.12s ease;

      @include mixin.mobile {
        max-width: 120px;
      }

      &:hover {
        box-shadow: 0 4px 10px var(--box-shadow);
        border-color: rgba(255, 255, 255, 0.18);
      }

      &:active {
        cursor: grabbing;
        transform: translateY(0);
        box-shadow: 0 2px 6px var(--box-shadow);
      }

      &Type {
        font-size: 13px;
        font-weight: 600;
        text-align: center;
        color: var(--text);
      }

      &Dragging {
        opacity: 0.8;
        box-shadow: 0 0 0 1px var(--attention);
        border-color: var(--attention);
      }
    }
  }
}
