.container {
  position: relative;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--border);
  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.2s ease;

  &:hover {
    opacity: 0.9;

    .containerRedact {
      opacity: 1;
      transform: scale(1);
    }
  }

  &Active {
    border-color: var(--attention);
    box-shadow: 0 0 8px var(--box-shadow);
  }

  &Disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &Redact {
    position: absolute;
    width: 22px;
    height: 22px;

    background: rgba(0, 0, 0, 0.45);
    border-radius: 5px;
    padding: 4px;

    opacity: 0.75;
    transition: 0.2s ease;
  }
}
