.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &Span {
    font-size: 32px;
    color: var(--subtext);
    font-weight: 500;
    text-align: center;
  }
}
