.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &Checkbox {
    border: 1px solid var(--border);
    border-radius: 5px;
    width: 20px;
    height: 20px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &Icon {
      width: 50%;
      height: 50%;
      color: var(--text);
      aspect-ratio: 1/1;
    }
  }

  &Label {
    font-size: 16px;
    color: var(--text);
  }
}

.active {
  background-color: var(--attention);
}
